<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- Enable annotation-based transactions -->
    <tx:annotation-driven />

    <!-- Scan base package -->
    <context:component-scan base-package="com.jobskill" />

    <!-- Database Config -->
    <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/jobskillDB"/>
        <property name="username" value="root"/>
        <property name="password" value=""/>
    </bean>

    <!-- Hibernate SessionFactory -->
    <bean id="factory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="ds"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.jobskill.model.Employer</value>
                <value>com.jobskill.model.Job</value>
                <value>com.jobskill.model.JobSeeker</value>
                <value>com.jobskill.model.AppliedJob</value>
            </list>
        </property>
    </bean>

    <!-- Hibernate Template -->
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
        <property name="sessionFactory" ref="factory"/>
    </bean>

    <!-- DAO Beans -->
    <bean id="employerDao" class="com.jobskill.dao.EmployerDao" />
    <bean id="jobDao" class="com.jobskill.dao.JobDao" />
    <bean id="jobSeekerDao" class="com.jobskill.dao.JobSeekerDao" />

    <!-- Transaction Manager -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="factory"/>
    </bean>

</beans>
